$color-primary: #55c67a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #3643fa;

$color-grey-dark: #777;
$color-grey-light: #f7f7f7;

$default-font-size: 1.6rem;

// Grid

$grid-width: 114rem;
$gap-vertical: 8rem;
$gap-vertical-small: 6rem;
$gap-horizontal: 6rem;

// Breakpoints
// 1em = 16px
$breakpoint-small: 37.5em; // phone 0-600 px
$breakpoint-medium: 56.25em; //tablet portait 600-900 px
$breakpoint-big: 75em; // tablet landscape 900-1200 px
$breakpoint-huge: 112.5em; // big desktop 1800+ px
